.button {

  &,
  &:link,
  &:visited {
    margin: 5rem auto 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer;

    background-color: $color-grey;
    color: $color-white;
    font-size: 1.6rem;

    transition: all .1s;
  }

  &:hover {
    box-shadow: 0 1rem 2rem .25rem rgba(0, 0, 0, .15);
    transform: translate3d(0, -.5rem, 0);
  }

  &:active {
    box-shadow: 0 1rem 1rem .125rem rgba(0, 0, 0, .15);
    transform: translate3d(0, -.25rem, 0);
  }
}

